<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>{{nm|default:'nothing'|upper|truncatewords:3}}</h3>
    <h3>Time {{dt|date:'DATE_FORMAT'}}</h3>
    <h3>Time {{dt|date:'D d M Y'}}</h3>
    <h3>Time {{dt|time:'H:i'}}</h3>
    <h3>Time {{dt|date:'SHORT_DATE_FORMAT'}}</h3>
    <h3>Time {{dt|time:'TIME_FORMAT'}}</h3>
    
    {% if cm %}
    <p>Hello {{cm}}</p>
    {% endif %}

    {% if dj and st %}
    <p>{{dj}} language and {{st}} seats are available</p>
    {% endif %}

    {% if dj or st %}
    <p>{{dj}} language and {{st}} seats are available</p>
    {% endif %}

    {% if not st %}
    <p>Seats are not available</p>
    {% endif %}

     {% if 'django' in nm %}
    <p> Word ''{{dj}}'' is present in ''{{nm}}''</p>
    {% endif %}

    {% if nm|length >= 4 %}
    <p>The length of "{{nm}}" is greater than 4.</p>
    {% endif %}

    {% if dj|length > 10 %}
    <p>The length of "{{dj}}" is greater than 4.</p>
    {% else %}
    <p>The length of "{{dj}}" is less than 4.</p>
    {% endif %}

    {% if dj == "Python" %}
    <p>True</p>
    {% else %}
    <p>False</p>
    {% endif %}

    {% if dj == "Python" %}
    <p>True</p>
    {% elif dj == "Django" %}
    <p> Elif runs. </p>
    {% else %}
    <p>False</p>
    {% endif %}

    <ul>
    {% for name in names %}
    <li>{{name}}</li>
    {% empty %}
    <p>It runs when the list is empty..</p>
    {% endfor %}
    </ul>

     
    {% for name in names %}
    {{forloop.counter}} {{name}} </br>
    {% endfor %}
    
    <hr/>
    {% for name in names %}
    {{forloop.last}} {{name}} </br>
    {% endfor %}

    
    <hr/>
    {% for name in names %}
    {{forloop.first}} {{name}} </br>
    {% endfor %}

    
    <hr/>
    {% for name in names %}
    {{forloop.revcounter}} {{name}} </br>
    {% endfor %}

    <hr/>
    {% for key, values in data.items %}
     {{key}} = {{values}}</br>
    {% endfor %}
    

</body>

</html>